.container{
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titletext{
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

.descirption{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descirptiontext{
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}