.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
.title{
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;

}

.titletext{
    font-weight: 500;
    font-size: 48px;
    text-align: center;
}

.descirption{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.descirptiontext{
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    align-content: center;
    align-items: center;
}
.logo{
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    width:20vw;
    height: 10vh;
    margin-right: 10px;
}
.logoimg{
    width:20vw;
    height: 10vh;
}